---
import type { BaseInfo } from "../../utils/types";
import Email from "./v0/Email.astro";
import Github from "./v0/Github.astro";
import GoogleScholar from "./v0/GoogleScholar.astro";
import Phone from "./v0/Phone.astro";

interface Props {
    data: BaseInfo;
    langs: { lang: string; link: string }[];
}

const { data, langs } = Astro.props;
---

<div class="font-serif text-right flex flex-col h-full">
    <h1 class="text-5xl my-2">{data.name}</h1>

    {
        data.info.map((info) => {
            switch (info.type) {
                case "v0.phone":
                    return <Phone data={info} />;
                case "v0.email":
                    return <Email data={info} />;
                case "v0.google-scholar":
                    return <GoogleScholar data={info} />;
                case "v0.github":
                    return <Github data={info} />;
            }
        })
    }

    <div class="space flex-auto"></div>

    <div class="language-switcher font-display">
        {
            langs.map(({ lang, link }) => (
                <a href={link} class="lang-option hover:underline" lang={lang}>
                    {lang}
                </a>
            ))
        }
    </div>

    <div class="font-display text-xs text-gray-6">
        Powered by <a
            href="https://github.com/reonokiy/cvpage"
            class="hover:underline">cvpage</a
        >
    </div>
</div>

<style>
    .lang-option + .lang-option::before {
        content: " | ";
    }
</style>
